.drop-menu {
  position: absolute;
  list-style: none;
  background-color: rgb(255, 254, 254);
  width: 150px;
  top: 41px;
  display: none;
}

.drop-menu > li {
  width: 100%;
  border-top: 0.5px solid gray;
  transition: all 0.3s;
}

.drop-menu > li:hover {
  background-color: var(--cor-principal-verde);
}

.link-drop-menu {
  width: 100%;
  text-decoration: none;
  color: white;
  display: block;
  color: black;
  font-family: var(--fonte-principal);
  padding: 5px 0 5px 10px;
}

.link-drop-menu:hover {
  color: white;
}
